body {
  color: white;
  font-family: 'verdana';
  background-image: url('./images/background-roles.png');
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #124b62, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #124b62, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #124b62, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #124b62, #f0f0f0);
}

.hide-overflow {
  overflow: hidden;
}

.fullheight {
  height: 100%;
}

.BackgroundVideo {
  width: 100%;
  height: 120%;
  position: absolute;
}

.infoContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppName-Row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 24px;
}

.AppName-Row-Title {
  font-size: 60px;
  font-weight: bold;
  color: #124b62;
}

.AppDescription {
  font-size: 30px;
  margin-bottom: 30px;
  color: #96a6ae;
}

.appIcon {
  width: 100px;
  height: 100px;
}

.GpBadge-Container {
  margin-left: -20px;
  margin-top: 20px;
}

.GpBadge {
  height: 100px;
}

.MainLandingPhones-Container {
  height: 100%;
  display: flex;
  align-items: center;
}

.AppFeatureImageContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

.FeatureCol {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.FeatureTitle {
  font-size: 40px;
  color: #124b62;
}

.FeatureInfo {
  margin-top: 40px;
  font-size: 24px;
  color: #96a6ae;
}

.FooterSection img {
  margin: 24px auto;
}

.FooterSection > .GpBadgeContainer {
  display: flex;
  justify-content: center;
}

.FooterSection .GpBadge {
  height: 100px;
}
